# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual Environment
venv/
env/
.venv/

# IDE files
.idea/
.vscode/

# Session files
*.session
*.session-journal

# Logs
*.log